<h2 mat-dialog-title>{{data.title}}</h2>
<mat-dialog-content>
  <div [formGroup]="form" *ngIf="form" fxLayout="column">
    <mat-form-field fxFlex>
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name" placeholder="Nombre">
    </mat-form-field>
    <mat-form-field fxFlex>
      <mat-label>Surname</mat-label>
      <input matInput formControlName="surname" placeholder="Surname">
    </mat-form-field>
    <mat-form-field fxFlex>
      <mat-label>Surname2</mat-label>
      <input matInput formControlName="surname2" placeholder="Surname2">
    </mat-form-field>
    <mat-form-field fxFlex>
      <mat-label>Sexo</mat-label>
      <input matInput formControlName="sex" placeholder="Sexo">
    </mat-form-field>
    <mat-form-field fxFlex>
      <mat-label>País</mat-label>
      <input matInput formControlName="country" placeholder="País">
    </mat-form-field>
    <mat-form-field fxFlex>
      <mat-label>Teléfono</mat-label>
      <input matInput formControlName="phone" placeholder="Teléfono">
    </mat-form-field>
    <mat-form-field fxFlex>
      <mat-label>Fecha nacimiento</mat-label>
      <input matInput formControlName="datebirthday" placeholder="Fecha nacimiento">
    </mat-form-field>
    <mat-form-field fxFlex>
      <mat-label>Última modificación</mat-label>
      <input matInput formControlName="lastModification" placeholder="Fecha nacimiento">
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cerrar</button>
</mat-dialog-actions>
